<div class="card text-white bg-secondary mb-3 w-90 border border-secondary">
    <div class="card-header">A conversão foi um sucesso!</div>
    <div class="card-body">
        <p class="card-text">
            <span class="origin-span">{{conversaoAtual.valorDeEntrada}}</span> em {{conversaoAtual.moedaDeOrigem}}
            equivale a
        </p>

        <p class="result-span">{{conversaoAtual.valorDeSaida}} {{conversaoAtual.moedaDeDestino}}</p>

        <p class="card-text">A taxa de conversão foi de {{conversaoAtual.taxa}}</p>
    </div>
</div>