<div class="container h-100 d-flex flex-column justify-content-around align-items-center">
    <h1 class="text-light text-center ">Conversor de Moedas</h1>
    <img class="img-fluid" src="../../../assets/imgs/pngwing.com.png" alt="converter-symbol">
    <p class="text-light text-center">Esse conversor de moedas usa a API <a class="text-light"
            href="https://exchangerate.host/" target="_blank">ExchangeRate</a>
        para fazer a
        conversão de
        valores. É possível
        visualizar seu histórico e ver uma lista de quais moedas estão disponíveis para conversão.</p>
</div>