<div class="container pt-4 pb-4">

    <h2 class="text-light text-center">Histórico de Conversões</h2>

    <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort class="bg-dark">
            <ng-container matColumnDef="valorAlto">
                <th mat-header-cell *matHeaderCellDef>Valor Alto</th>
                <td mat-cell *matCellDef="let row"><i *ngIf="row.valorAlto" class="fa-solid fa-dollar-sign"></i></td>
            </ng-container>

            <ng-container matColumnDef="valorDeEntrada">
                <th mat-header-cell *matHeaderCellDef>Valor de Origem</th>
                <td mat-cell *matCellDef="let row"> {{row.valorDeEntrada}}</td>
            </ng-container>

            <ng-container matColumnDef="moedaDeOrigem">
                <th mat-header-cell *matHeaderCellDef>Moeda De Origem</th>
                <td mat-cell *matCellDef="let row"> {{row.moedaDeOrigem}} </td>
            </ng-container>

            <ng-container matColumnDef="valorDeSaida">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Valor De Saída</th>
                <td mat-cell *matCellDef="let row"> {{row.valorDeSaida}} </td>
            </ng-container>

            <ng-container matColumnDef="moedaDeDestino">
                <th mat-header-cell *matHeaderCellDef>Moeda De Destino</th>
                <td mat-cell *matCellDef="let row"> {{row.moedaDeDestino}} </td>
            </ng-container>

            <ng-container matColumnDef="taxa">
                <th mat-header-cell *matHeaderCellDef>Taxa</th>
                <td mat-cell *matCellDef="let row"> {{row.taxa}} </td>
            </ng-container>

            <ng-container matColumnDef="hora">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Hora</th>
                <td mat-cell *matCellDef="let row"> {{row.data | date:'hh:mm:ss a'}}</td>
            </ng-container>

            <ng-container matColumnDef="data">
                <th mat-header-cell *matHeaderCellDef>Data</th>
                <td mat-cell *matCellDef="let row">{{row.data | date: 'dd/MM/yyyy'}} </td>
            </ng-container>

            <ng-container matColumnDef="excluir">
                <th mat-header-cell *matHeaderCellDef>Excluir</th>
                <td mat-cell *matCellDef="let row"> <button class="btn btn-secondary" (click)="openDialog(row.id)"><i
                            class="fa-solid fa-delete-left"></i></button></td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Não há items no histórico.</td>
            </tr>

        </table>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
    </div>
</div>