@use "@angular/material" as mat;

@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

@import "~@angular/material/theming";

$conversor-primary: mat-palette($mat-blue-grey);
$conversor-accent: mat-palette($mat-amber, A200, A100, A400);
$conversor-warn: mat-palette($mat-deep-orange);
$conversor-theme: mat-dark-theme(
  (
    color: (
      primary: $conversor-primary,
      accent: $conversor-accent,
      warn: $conversor-warn,
    ),
  )
);

@include mat.all-component-themes($conversor-theme);
